<!--index-->

{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    {{ template "form" . }}
    <hr />
    {{ template "display" . }}
  </body>
</html>
{{end}}

<!--form-->

{{ block "form" . }}
<form hx-post="/contacts">
  <span>name:</span>
  <input type="text" name="name" />
  <span>email:</span>
  <input type="text" name="email" />
  <button type="submit">Create Contact</button>
</form>
{{ end }}

<!--display-->

{{ block "display" . }}
<div style="display: flex; flex-direction: column">
  {{ range .Contacts }}
  <div>Name: <span>{{ .Name }}</span> Email: <span>{{ .Email }}</span></div>
  {{end}}
</div>
{{ end }}
